:javascript
  document.title = "BaixoGavea.com | Editar | #{@album.nome}"
%div{:style => "float: left; padding-right:15px"}= album_image(@album)
%h1= "Editar | #{@album.banda.nome} - #{@album.nome} (#{@album.ano})"
- form_for(@album, :url => { :action => "update"}) do |f|
  = f.error_messages
  = hidden_field_tag("album[banda_id]", @album.banda.id)
  = hidden_field_tag("album[user_id]", session[:user])
  %p
    = f.label :nome
    %br/
    = f.text_field :nome
    \&nbsp;
    \#{f.label :ano}
    \#{f.date_select :ano,  :discard_day => true, :discard_month => true, :start_year => 1950, :end_year=>Time.now.year}
  %p
    = f.submit 'Atualizar'
%br/
%br/
= link_to "Voltar", "javascript:back()"
