#topo
  %table{:align => "center", :style => "margin:0px; padding:0px", :width => "100%"}
    %tr
      %td{:style => "color: white"}
        #login{:style => "width:280px; float:left; text-align:center; vertical-align:middle"}
          - if session[:user]
            - user = User.find(session[:user])
            %b
              Membro #{link_to user.username, user_path(user)}
            | #{link_to "sair", "/logout"}
          - else
            = link_to "Login", "/login"
        - if flash[:notice]
          #status
            = flash[:notice]
          #indice
            - %w{A B C D E F G H I J K L M N O P Q R S T U V W X Y Z #}.each() do |letra|
              = href_menu letra
          :javascript
            $('#indice').hide();
            $('#status').hide();
            $("#status").fadeIn();
            setTimeout(function() {$("#status").fadeOut()}, 4000);
            setTimeout(function() {$("#indice").fadeIn()}, 5500);
                    - flash[:notice] = nil
        - else
          #indice
            - %w{A B C D E F G H I J K L M N O P Q R S T U V W X Y Z #}.each() do |letra|
              = href_menu letra
      = form_for :pesquisar, :url => { :controller=>"pesquisa", :action => "pesquisa" } do |f|
        %td{:align => "right", :style => "color: white", :width => "250px"}
          Pesquise&nbsp;&nbsp;
          %div{:style => "float:right"}= f.text_field 'txt', :size=>20, :class=>"pesquisa"
        %td{:align => "center", :width => "40px"}= image_submit_tag 'find.png', {:style=>"margin-top:5px"}
